section.hero__section
    .container.hero__wrapper
        .content
            .content__left
                h1  Drive Your Business Forward with TruTik
                p   Eliminate manual processes, improve communication, and increase productivity with our comprehensive trucking platform. Start driving your business forward today.
                div Scroll to learn more about Trutik
            .content__right
                include ./components/hero-form