.hero__form
    .hero__form-head
        h3  Try It Out For Free!
        p   You will have access to TruTik until sign up Credits expire.
    form.hero__form-inputs
        .input__wrapper
            label(for='email')   Email Address
            input(type='email' name='email' id='email' placeholder='Your Email Address')
        .radio__wrapper
            h4.radio__wrapper-title  I’ll use TruTik as a
            .radio__wrapper-inputs
                label(for='carrier')    Carrier
                input(type='radio' id='carrier' name='carrier' value='carrier')

                label(for='shipper')    Shipper
                input(type='radio' id='shipper' name='carrier' value='shipper')

                label(for='contractor') Contractor
                input(type='radio' id='contractor' name='carrier' value='contractor')
        button.btn.btn__orange  Start Registration
        .checkbox__wrapper
            input(type='checkbox' name='checkbox' id='checkbox')
            label(for='checkbox')   Subscribe to our newsletter
