header.header
    .container
        .content
            .content__left
                include ../logo/logo
                nav.navbar
                    ul
                        li
                            a(href='/') Home
                        li
                            a(href='/') Why Trutik?
                        li
                            a(href='/') Features
                        li
                            a(href='/') Functions
                        li
                            a(href='/') About Us
            .content__right
                a(href='/').btn.btn__white Login