extends base/pug/base

append variables
    - let title = 'Drive Your Business Forward with TruTik'
    - let pageClass = 'homepage'
    - let menuHref = '/'

block top-position
    include ./components/sections/hero
